" Options
let mapleader = " "
set clipboard+=unnamed
set scrolloff=99
set number
set hlsearch
set incsearch
set ignorecase
set smartcase

" Emulated plugins
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'dbakker/vim-paragraph-motion'

" Fix defaults
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Telescope
nmap <leader>p <Action>(GotoFile)
nmap <leader>e <Action>(Switcher)
nmap <leader>g <Action>(FindInPath)
nmap <leader>s <Action>(GotoSymbol)

" LSP
nmap K <Action>(ShowHoverInfo)

" Sidebar panes
nmap \ <Action>(ActivateProjectToolWindow)
