" Actions list: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d

" Options
let mapleader = " "
set clipboard+=unnamed
set scrolloff=8
set number
set hlsearch
set incsearch
set ignorecase
set smartcase

" Emulated plugins
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'dbakker/vim-paragraph-motion'

" Keymaps
nmap <C-]> <Action>(GotoDeclaration)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap - <Action>(ActivateProjectToolWindow)
nmap K <Action>(ShowErrorDescription)

nmap <leader>f <Action>(GotoFile)
nmap <leader>e <Action>(RecentFiles)
nmap <leader>g <Action>(FindInPath)
nmap <leader>s <Action>(GotoSymbol)

nmap <leader>v <Action>(Git.Menu)
